h1 {
    text-align: center;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}
.sleeve {
    border-left: 10px double rgba(0, 0, 0, 75%);
    border-right-width: 10px;
    border-right-style: solid;
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5)
}

.cap {
    width: 60px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5)
}
.cap, .sleeve {
    display: inline-block;
}

.one {
    background-color: rgb(255, 0, 0); 
    box-shadow: -5px -5px red;
    box-shadow: 5px 5px 5px green;   
    box-shadow: 5px 5px 5px blue;
}

.two {
    background: linear-gradient(180deg, rgb(255, 0, 0) 0%, rgb(0, 255, 0) 50%, rgb(0, 0, 255) 100%);
}

.three {
    background-color: rgb(0, 0, 255);
}

.four {
    background-color: yellow;
}

.five {
    background-color: purple;
}

.six {
    background-color: orange;
}
.container {
    background-color: white;
    padding: 10px 0;
}

body {
    background-color: #f4f4f4;
  }
  
  .color-grid {
    /* add some styles to make the grid visible */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  .color1 {
    background-color: #ff0000; /* hexadecimal color value */
  }
  
  .color2 {
    background-color: rgb(0, 255, 0); /* RGB color value */
  }
  
  .color3 {
    background-color: blue; /* predefined (word) color value */
  }
  
  .color4 {
    background-color: hsl(120, 100%, 50%); /* HSL color value */
  }
  
  .color5 {
    background-color: #008000; /* any background color value */
  }