body {
    font-family: Arial, sans-serif;
    background-color: #ccccff;
}

h1 {
    text-align: center;
    color: #292966;
    font-size: 3em;
    margin-bottom: 5px;
}

.container {
    margin: 0 auto;
    display: flex;
    width: 90vw;
    height: 90vh;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: #A3A3CC;
}

.todo-list {
    margin-bottom: 15px;
    background-color: #A3A3CC;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
}

.todo-list input[type="text"] {
    flex-direction: column;
    background-color: #A3A3CC;
}

.todo-list li {
    flex: 1;
    background-color: #b0b0ef;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
    width: 100%;
}

.sub-item-link {
    text-decoration: none;
    color: #292966;
}

.sub-item-link:visited {
    color: purple;
}

.sub-item-link:hover {
    color: red;
}

.sub-item-link:focus {
    outline: 2px solid green;
}

.sub-item-link:active {
    color: orange;
}